.programLink {
    text-decoration: none;
    display:table;
    position:relative;
    padding:0 6rem 0 3.5rem;
    height:4rem;
    width:100%;
    box-sizing: border-box;
    margin:0.5rem 0;
    border-radius:3px;
    background-color:#fff;
    transition:background-color linear 0.2s;
}

.programLink:hover {
    background-color:#eee;
}

.programLink > span {
    display:table-cell;
    vertical-align: middle;
    font-size:0.9375rem;
    color:#252525;
}

.programLink > span b {
    font-weight: bold;
}

.programIcon {
    position:absolute;
    width:2.25rem;
    height:2.25rem;
    background-color:#2bde73;
    left:0.5rem;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
}

.programIcon > svg {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:1.125rem;
    height:1.125rem;
    color: #ffffff;
}